p{
    font-size: large;
    
}

body{

    background-color: greenyellow;
}

#timer{
    font-size: xx-large;
    font-style: oblique;
    float: right;
     margin-right: 100px;
   
}

#score{
    
   font-style: oblique;
   font-size:xx-large;
   margin-left: 100px;
}

#sketch{
    color: blue;
    font-size: 25px;
    
}

h1{
    background-color:yellow ;
}